# Папки сборки CMake (чтобы бинарники не улетали в Git)
build/
cmake-build-*/
out/
bin/

# Файлы настроек редакторов кода (VS Code, Clangd)
.vscode/
.cache/
compile_commands.json
*.suo
*.user

# Датасеты и логи
data/*.csv
*.log
metrics*.csv

mnist_train.csv
mnist_test.csv
mnist_test.csv:Zone.Identifier

# Системные файлы
Thumbs.dbmnist_train.csv
